# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Trash files
*.swp
*~
*.P

# Compiled binaries
higher-order-example
grd/bin
foe-9
foe-6
test-pairwise
random-graph

# Experiment files
*.pgm
*.stats
